
  <div class="row mt-4 bg-primary rounded-3">
  <div class="col-md-6 text-warning">
    <h2 class="text-center">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" placeholder="Email"/>
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary link" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 text-warning">
    <h2 class="text-center">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" placeholder="Name"/>
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" placeholder="Email for Login"/>
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" placeholder="Create Your Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary link" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
