<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4 bg-primary area-border">
  <div class="col-md-6">
    <h3 class="text-warning text-center">Create a New Project:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label class="text-warning" for="project-name">Project name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" placeholder="Create A New Project"/>
      </div>
      <div class="form-group">
        <label class="text-warning" for="project-desc">Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc" placeholder="Add a Description"></textarea>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary bg-info text-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3 class="text-warning text-center">Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4 class=""><a class="bg-secondary link-hover link" href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
