header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

/* Apply background image to the body */
body {
  background-image: url('/public/images/deathstar.jpg'); /* Replace with your image path */
  background-size: cover; /* Ensure the image covers the entire background */
  background-repeat: no-repeat; /* Prevent image repetition */
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
.custom-column {
  flex: 0 0 30%; 
  max-width: 40%;
  
}

.project-details-container {
  width: 200px;
  height: 300px;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}

/* Added CSS classes */

.link {
  border-radius: 0.5rem;
  background-color: #465f7a !important;
  color: #1bbc9b !important;
}

.area-border {
  border-radius: 1rem;
}

.link-hover:hover {
  color: #c2daf3 !important;
}

/* Added more CSS classes */

.star-wars-header {
  background-color: red; /* Set your desired background color */
  padding: 10px; /* Add padding for spacing */
  color: black; /* Set text color to white for contrast */
  text-align: center; /* Center-align text */
}

/* Change the text color of the header to black */
.star-wars-header h1 a {
  color: black; /* Set the text color to black */
}






