header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
.custom-column {
  flex: 0 0 30%; 
  max-width: 40%;
  
}

.project-details-container {
  width: 200px;
  height: 300px;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}

/* Highlight colors */
.highlight-blue {
  background-color: #007bff; /* Blue */
  opacity: 0.7;
}

.highlight-green {
  background-color: #28a745; /* Green */
  opacity: 0.7;
}

.highlight-yellow {
  background-color: #ffc107; /* Yellow */
  opacity: 0.7;
}

.highlight-red {
  background-color: #dc3545; /* Red */
  opacity: 0.7;
}
